pandas~=1.3.5
numpy~=1.22.1
pip~=21.3.1
rsa~=4.8
pyasn1~=0.4.8
six~=1.16.0
pytz~=2021.3
PyYAML~=6.0
setuptools~=58.1.0
cachetools~=4.2.4
certifi~=2021.10.8
urllib3~=1.26.8
requests~=2.27.1
python-dateutil~=2.8.2
idna~=3.3
pyparsing~=3.0.6